body {
    background-color: rgb(22, 22, 22);
  }

h1 { display: table-cell; vertical-align: middle; font-family: 'Edu SA Beginner', cursive; 
  font-size: 50px; 
  text-align: center; 
  color: rgb(255, 255, 255); 
}

p {
  font-family: 'Edu SA Beginner', cursive;
  font-size: 20px;
  color: white;
}


a {
  text-decoration: none;
  color: rgb(46, 104, 192);
}






html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
body{
  height:100%; /* force the BODY element to match the height of the HTML element */
}

/*
.center {
  margin: auto;
  align-items: center;
  padding: 10px;
}


.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh
}
*/