body {
    background-color: rgb(22, 22, 22);
  }

h1 {
  color: white;
  text-align: center;
  font-family: 'Edu SA Beginner', cursive;
}

p {
  font-family: 'Edu SA Beginner', cursive;
  font-size: 20px;
  color: white;
}


a {
  text-decoration: none;
  color: rgb(46, 104, 192);
}






html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
body{
  height:100%; /* force the BODY element to match the height of the HTML element */
}
#cloud-container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  //z-index:-1; /* Remove this line if it's not going to be a background! */
}

/*
.center {
  margin: auto;
  align-items: center;
  padding: 10px;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh
}
*/